# Flask and dependencies
Flask==3.0.0
flask-cors==4.0.0

# Face recognition dependencies
cmake
dlib==19.24.2
face-recognition==1.3.0
face-recognition-models==0.3.0

# Image processing and math
opencv-python
numpy
Pillow

# Optional: helps some servers build faster
setuptools
wheel
